.wrapper {
  display: flex;
  height: 100vh;
}

.header {
  width: 300px;
  background-color: #333333;
  &__logo {
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
  }
  &__box{
  height: 20px;
  width: 260px;
  font-size: 16px;
  margin: 0 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  text-align: right;
  }
  &__icons{
  margin-right: 100px;
  width: 60px;
  }
}

.fa-edit:before {
  content: "";
  color: white;
}

.fa-cog:before {
  content: "";
  color: white;
}

.header__main {
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  color: white;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 15px;
  text-decoration: none;

  .group{
    text-decoration: none;
    color: white;
    box-sizing: border-box;
    padding: 20px 0 40px;
    .group__name{
      text-decoration: none;
      color: white;
      height: 20px;
      font-size: 15px;
      font-family: #666666 bold;
    }
    .group__comennts{
      text-decoration: none;
      color: white;
      padding-top: 5px;
      font-size: 5px;
      font-family: #666666 bold;
    }
  }
}

.contents {
  width: calc(100% - 300px);
  background-color: #1a1d21;

  .contents__top {
  height: 100px;
  background-color: #ffffff;
  display: flex;
  padding: 0 40px;
  align-items: center;
  justify-content: space-between;
  }
  &__menber{
  font-size: 20px;
  color: #333333;
  line-height: 100px;
  }
  &__edit{
    text-decoration: none;
    list-style: none;
    display: inline;
    font-size: 16px;
    border: 1px solid #38aef0;
    padding: 10px 15px;
  }
  &__group {
  position: absolute;
  display: flex;
  margin-top: 40px;
  font-size: 12px;
  color: #999999;
  }

  .group{
    text-decoration: none;
  }

  .contents__midle{
    box-sizing: border-box;
    background-color: #FAFAFA;
    padding: 40px 40px 90px;
    height: calc(100vh - 190px);
    width: calc(100vw - 300px);
    bottom: 90px;
    left: 300px;
    z-index: 0;
    .message{
      .upper-message {
        display: flex;
        padding-top: 15px;
        .contents__name{
          color: $black;
          font-size: 16px;
          font-weight: bold;
        }
        .upper-message__date{
          font-size: 12px;
          color: #999999;
          padding-left: 10px;
        }
      .contents__message{
        padding-top: 35px;
        font-size: 15px;
      }
    }
  }
  }

  .form {
    background-color: #DDDDDD;
    box-sizing: border-box;
    height: 90px;
    width: calc(100% - 300px);
    padding: 20px 50px 20px 40px;
    position: fixed;
    bottom: 0;
    left: 300px;
    z-index: 5;
    &__message {
      border: none;
      float: left;
      height: 50px;
      width: calc(100% - 150px);
    }
    &__box {
      background-color: $white;
      float: left;
      height: 50px;
      padding-right: 10px;
      &__image {
        font-size: 20px;
        line-height: 50px;
        cursor: pointer;
      }
      .hidden {
        display: none;
      }
    }
    &__submit {
      background-color: $light_blue;
      border: none;
      color: $white;
      float: right;
      font-size: 16px;
      height: 50px;
      margin-left: 15px;
      padding: 0 30px;
      cursor: pointer;
    }
  }
}